<form #myForm="ngForm" (submit)="onSubmit(myForm)">
  <mat-form-field>
    <input matInput required minlength="6"
    name="username" placeholder="username"
    #username [(ngModel)]="username.value">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput required minlength="6"
    name="password" placeholder="password" type="password"
    #password [(ngModel)]="password.value">
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" [disabled]="myForm.invalid">Submit</button>
</form>
